@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-100 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
